@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.fc {
		@apply flex flex-col justify-center items-center;
	}

	.fr {
		@apply flex flex-row justify-center items-center;
	}
	:root {
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.nav-links > li {
	@apply p-1 rounded-md bg-white/0 hover:bg-white/10 transition-colors;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-[#171717];
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-gray-300/20 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	overscroll-behavior: none;
}

section {
	scroll-margin: 5rem;
}

.circle {
	background: radial-gradient(circle at 100px 100px, #ffd941, #000);
}
