@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.fc {
		@apply flex flex-col justify-center items-center;
	}

	.fr {
		@apply flex flex-row justify-center items-center;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.nav-links > li {
	@apply p-1 rounded-md bg-white/0 hover:bg-white/10 transition-colors;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-[#000318];
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-gray-300/20 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	overscroll-behavior: none;
}

section {
	scroll-margin: 5rem;
}

.trinity-rings-spinner,
.trinity-rings-spinner * {
	box-sizing: border-box;
}

.trinity-rings-spinner {
	height: 66px;
	width: 66px;
	padding: 3px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	overflow: hidden;
	box-sizing: border-box;
}
.trinity-rings-spinner .circle {
	position: absolute;
	display: block;
	border-radius: 50%;
	border: 3px solid #ff1d5e;
	opacity: 1;
}

.trinity-rings-spinner .circle:nth-child(1) {
	height: 60px;
	width: 60px;
	animation: trinity-rings-spinner-circle1-animation 1.5s infinite linear;
	border-width: 3px;
}
.trinity-rings-spinner .circle:nth-child(2) {
	height: calc(60px * 0.65);
	width: calc(60px * 0.65);
	animation: trinity-rings-spinner-circle2-animation 1.5s infinite linear;
	border-width: 2px;
}
.trinity-rings-spinner .circle:nth-child(3) {
	height: calc(60px * 0.1);
	width: calc(60px * 0.1);
	animation: trinity-rings-spinner-circle3-animation 1.5s infinite linear;
	border-width: 1px;
}

@keyframes trinity-rings-spinner-circle1-animation {
	0% {
		transform: rotateZ(20deg) rotateY(0deg);
	}
	100% {
		transform: rotateZ(100deg) rotateY(360deg);
	}
}
@keyframes trinity-rings-spinner-circle2-animation {
	0% {
		transform: rotateZ(100deg) rotateX(0deg);
	}
	100% {
		transform: rotateZ(0deg) rotateX(360deg);
	}
}
@keyframes trinity-rings-spinner-circle3-animation {
	0% {
		transform: rotateZ(100deg) rotateX(-360deg);
	}
	100% {
		transform: rotateZ(-360deg) rotateX(360deg);
	}
}
