@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.fc {
		@apply flex flex-col justify-center items-center;
	}

	.fr {
		@apply flex flex-row justify-center items-center;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.nav-links > li {
	@apply p-1 rounded-md bg-white/0 hover:bg-white/10 transition-colors;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-[#000318];
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-gray-300/20 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	overscroll-behavior: none;
}
